/* GLOBAL */

 * {
    font-family: sans-serif;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* MAIN */

/* Navbar */
nav {
    height: 40px;
}